* {margin:0;padding:0;}
body {background-color:#000000;font-family:'Arial';}

#page {width:940px;margin:0 auto;}

.header {height:200px;}
.imgt{height: 500px;}
.content{
	height: 500px;
 position: relative;
  display: inline-block;
}
.content h4,table {position: absolute;
color: lime;}
.content h4 {
left: 30%;
  top: 3%;
  width: 40%;
  height: 4%;
}
.content table{
 left: 150px;
  top: 40px;
  width: 700px;
  height: 350px;
}
.video{
	height: 500px;
 position: relative;
  display: inline-block;
    clear: both;
}
.video p {position: absolute;
color: lime;}
.video p {
  top: 30%;
  width: 100%;
  height: 65%;
}
.button{
	clear: both;
	height: 500px;
 position: relative;
  display: inline-block;
    
}
.button iframe {position: absolute;
}
.button iframe {
	left: 28%;
  top: 30%;
  width: 100%;
  height: 100%;
}

.asite {height: 100px;}


.footer {height: 100px}
#raz {
  position: relative;
  display: inline-block;
    clear: both;
}
#raz a {
  position: absolute;
  
}
#raz a:nth-of-type(1) {
  left: 150px;
  top: 30px;
  width: 120px;
  height: 50px;
}
#raz a:nth-of-type(2) {
  left: 270px;
  top: 30px;
  width: 273px;
  height: 50px;
}
#raz a:nth-of-type(3) {
  left: 543px;
  top: 30px;
  width: 100px;
  height: 50px;
}
#raz a:nth-of-type(4) {
  left: 643px;
  top: 30px;
  width: 75px;
  height: 50px;
}
#raz a:nth-of-type(5) {
  left: 718px;
  top: 30px;
  width: 130px;
  height: 50px;
}
#raz a:hover {
  background: rgba(0,255,255,.3);
}
#donlad  {
  position: relative;
  display: inline-block;
  clear: both;
}
#donlad a {
  position: absolute;
  
}
#donlad a:nth-of-type(1) {
left: 710px;
  top: 160px;
  width: 117px;
  height: 20px;
}
#donlad a:nth-of-type(2) {
  left: 443px;
  top: 225px;
  width: 370px;
  height: 20px;
}
#donlad a:nth-of-type(3) {
  left: 493px;
  top: 245px;
  width: 355px;
  height: 20px;
}
#donlad a:nth-of-type(4) {
  left: 419px;
  top: 335px;
  width: 210px;
  height: 66px;
}
#donlad a:hover {
  background: rgba(0,255,255,.3);
}
#ali  {
  position: relative;
  display: inline-block;
  clear: both;
}
#ali a {
  position: absolute;
  
}
#ali a:nth-of-type(1) {
left: 400px;
  top: 80px;
  width: 190px;
  height: 360px;
}
#ali a:nth-of-type(2) {
  left: 710px;
  top: 78px;
  width: 98px;
  height: 180px;
}
#ali a:nth-of-type(3) {
  left: 700px;
  top: 320px;
  width: 120px;
  height: 120px;
}
#ali a:nth-of-type(4) {
  left: 110px;
  top: 275px;
  width: 120px;
  height: 190px;
}
#ali a:nth-of-type(5) {
  left: 298px;
  top: 20px;
  width: 55px;
  height: 127px;
}
#ali a:nth-of-type(6) {
  left: 115px;
  top: 65px;
  width: 130px;
  height: 185px;
}
#ali a:nth-of-type(7) {
  left: 233px;
  top: 320px;
  width: 27px;
  height: 100px;
}
#ali a:hover {
  background: rgba(0,255,255,.3);
}
.chetchic{
	clear: both;
	height: 100px;
 position: relative;
  display: inline-block;
    
}
.chetchic a {position: absolute;
}
.chetchic a {
	left: 80%;
  top: 35%;
  width: 10%;
  height: 40%;
}